body{
    background-repeat: no-repeat;
    background-image: url(imagens/pag002.png);
    background-size: cover;
}
.cadastro{
    position: relative;
    top: 450px;
    left: 650px;
}

a{
    text-decoration: none;
    font-size: 50px;
}